.DS_Store
.DerivedData/
Pods/
*.xcworkspace/xcuserdata/brad.xcuserdatad/UserInterfaceState.xcuserstate
Focus.xcworkspace/xcuserdata/brad.xcuserdatad/UserInterfaceState.xcuserstate
Focus.xcworkspace/xcuserdata/kramer.xcuserdatad/UserInterfaceState.xcuserstate
